body{
    margin: 0;
    padding: 0;
    color: rgba(245, 245, 245, 0.746);
    font-weight: bold;
    font-family: 'proxima-nova', sans-serif;
}
.main{
    display: flex;
}
.nav{
    background: black;
    width: 16%;
}
.fa-spotify{
    height: 3%;
    position: sticky;
    top:3%;
}
font{
    color: rgba(245, 245, 245, 0.746);
    font-weight: bold;
    position: fixed;
}
.nav1{
    top: 19%;
}
.nav2{
    top: 24%;
}
.nav3{
    top: 29%;
}
.nav4{
    top: 39%;
}
.nav5{
    top: 44%;
}
ul li {
    color:rgba(245, 245, 245, 0.746);
    list-style-type: none;
    cursor: pointer;
    position: fixed;
}
ul li:hover {
    color:white;
}
.content{
    width: 66%;
    height: 100%;
    background: linear-gradient(rgb(20,20,20), black);
}
.contentNav{
    width: 100%;
    height: 9%;
    padding: 0px;
    position: fixed;
    top : 0%;
    background-color: rgb(20,20,20);
    z-index: 5;
}
.div1,.div2{
    position: fixed;
    background-color: black;
    padding: 7px 30px 7px 30px;
    margin:10px 20px 10px 20px;
    border: solid black;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.1s;
    z-index: 6;
}
.div1{
    right:30%;
    top : 0%;
}
.div2{
    right: 20%;
    top: 0%;
}
.div1:hover{
    border: solid white;
}
.div2:hover{
    border: solid white;
}
.maincontent{
    padding: 20px;
    z-index: 0;
}
.row{
    margin-top: 20%;
    display: flex;
}
.container{
    top : 30%;
    position: relative;
    cursor: pointer;
    background-color: rgb(32, 29, 29);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
.container:hover{
    background-color: rgb(32, 39, 39);
}
#i001{
    position: relative;
    width: 25vh;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
}
#i002{
    /* visibility: hidden; */
    top: 50%;
    left: 71%;
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    border-radius: 80%;
    z-index: 2;
}
.image{   
    display: flex;
    padding:10px;
}
.artist{
    position: relative;
    color: blanchedalmond;
    font-size: 1em;
    font-weight: 800;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.other{
    position: relative;
    padding: 10px;
    padding-top: 0px;
    color: rgb(92, 88, 83);
}
.login{
    background-color: rgb(32, 29, 29);
    width:18%;
    padding: 20px;
    z-index: 7;
}
.login h3{
    position: sticky;
    top:7%;
    font-size: 17px;
}
.login small{
    color: lightgray;
    position: sticky;
    top:30%;
}
.login p{
    color: lightgray;
    font-size: 13px;
    position: sticky;
    top:13%;
}
.button{
    position: sticky;
    top: 21%;
    background: linear-gradient(to top, #0066ff 0%, #66ccff 100%);
    border-radius: 19px;
    color: white;
    padding: 10px 7px 10px 7px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bolder;
    color: wheat;
    border: solid rgb(32, 29, 29);
    transition: 0.1s;
}
.fa-facebook {
    color: wheat;
}
.button:hover{
    border: solid white;
}