@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
    /* visibility: hidden; */
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    top: 0;
    /* margin-bottom: 1000px; */
    position: fixed;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
    /* position: fixed; */
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
#listName{
    margin-left: 400px;
}
/* .listName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
} */
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
.container{
    /* min-height: 60vh; */
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 80%;
    height: 475px;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;
    overflow: auto;
}
.heading{
    position: fixed;
    height: 65px;
    width: 100vw;
    margin: 100px;
}
#myProgressBar::-webkit-slider-thumb{
    opacity: 0;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 50px;
}
.songItem{
    height: 70px;
    width: 150%;
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    /* cursor: pointer; */
} 
/* .Image{
    cursor: pointer;
} */
.songItem img{
    width: 65px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.songList h1{
    position: sticky;
}
.covers{
    height: 60px;
    width: 60px;
}
